<% if params[:firstTeam] %>	
	<%= render partial: 'chartScript' %>
	<%= render partial: 'columnScript' %>
	<%= render partial: 'scatterScript' %>
	<div id="chart"></div>
	<div id="transform">
		<input class="transform" name="newSeries" type="radio" value="a"> Team</input>
		<input class="transform" name="newSeries" type="radio" value="b"> Offense</input>
		<input class="transform" name="newSeries" type="radio" value="c"> Defense</input>
	</div>
	<div id="teamTable">
		<div id="team1Table">	
			<table cellspacing='0'> 
				<thead>
					<tr>
						<th colspan="3"><%= @team1name.first %></th>
					</tr>
				</thead>
				<tbody>
					<% @team1CurrentStat.each do |t1| %>
						<% if t1[5].nil? %>
						<tr>
							<td><i>Wk <%= t1[1] %></i>:</td>
							<td ><b><%= t1[2] %></b></td>
							<td></td>
						</tr>	
						<% else %>
						<tr>
							<td><i>Wk <%= t1[1] %></i>:</td>	
							<td><b><%= t1[2] %></b> <%= t1[4] %>-<%= t1[5] %> vs <%= t1[3] %></td>
							<td><%= link_to 'Game Map', edit_home_path(:id => t1[6]), :remote => true %></td>
						</tr>					
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
		<div id="team2Table">	  
			<table cellspacing='0'> 
				<thead>
					<tr>
						<th colspan="3"><%= @team2name.first %></th>
					</tr>
				</thead>
				<tbody>
					<% @team2CurrentStat.each do |t2| %>
						<% if t2[5].nil? %>
						<tr>
							<td><i>Wk <%= t2[1] %></i>:</td>
							<td><b><%= t2[2] %></b></td>
							<td></td>
						</tr>	
						<% else %>
						<tr>
							<td><i>Wk <%= t2[1] %></i>:</td>
							<td><b><%= t2[2] %></b> <%= t2[4] %>-<%= t2[5] %> vs <%= t2[3] %></td>
							<td><%= link_to 'Game Map', edit_home_path(:id => t2[6]) %></td>
						</tr>					
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<br style="clear:both" />
	<div id="column"></div>
	<div id="scatter"></div>
	<p class="newMatch"><%= link_to 'New Matchup', root_path %></p>
<% else %>
	<div id="teamMatchup">
		<h2>Select Matchup</h2>
		<%= form_tag(root_path, :method => "get", id: "search-form") do %>
			<%= select_tag :firstTeam, options_for_select(@teamNames, params[:firstTeam]), :prompt => 'Select Team' %>
			<%= select_tag :secondTeam, options_for_select(@teamNames, params[:secondTeam]), :prompt => 'Select Team' %><br /><br />
			<%= submit_tag "View Matchup", :name => nil %>
		<% end %>
	</div>
	<div id="teamPortfolio">
		<h2>View Portfolio</h2>
		<div id="indy_team">
		<% @teamNames.each do |tn| %>
			<p class="team_name"><%= link_to tn, home_path(:id => tn) %></p>
		<% end %>
		</div>
	</div>
<% end %>

