<title>Match-Ups | The Q5</title>
<div class="x-container max width">
	<div class="x-landmark-breadcrumbs-wrap">
		<div class="x-landmark">
			<h1 class="h-landmark entry-title"><span>Match-Ups</span></h1>
			<%= link_to root_path do %><p><i>Want to Learn More About This Tool?</i></p><% end %>
		</div>
	</div>
</div>
<% if params[:firstTeam].present? && params[:secondTeam].present? %>	
	<%= render partial: 'chartScript' %>
	<%= render partial: 'columnScript' %>
	<%= render partial: 'scatterScript' %>
	<div id="chart"></div>
	<div id="transform">
		<input class="transform" name="newSeries" type="radio" value="a"> Team</input>
		<input class="transform" name="newSeries" type="radio" value="b"> Offense</input>
		<input class="transform" name="newSeries" type="radio" value="c"> Defense</input>
	</div>
	<div id="teamTable">
		<div id="team1Table">	
			<table cellspacing='0'> 
				<thead>
					<tr>
						<th colspan="3"><%= @team1name.first %></th>
					</tr>
				</thead>
				<tbody>
					<% @team1CurrentStat.each do |t1| %>
						<% if t1[5].nil? %>
						<tr>
							<td><i>Wk <%= t1[1] %></i>:</td>
							<td ><b><%= t1[2] %></b></td>
							<td></td>
						</tr>	
						<% else %>
						<tr>
							<td><i>Wk <%= t1[1] %></i>:</td>	
							<td><b><%= t1[2] %></b> <%= t1[4] %>-<%= t1[5] %> vs <%= t1[3] %></td>
							<td><%= link_to 'Game Map', home_path(:id => t1[6]) %></td>
						</tr>					
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
		<div id="team2Table">	  
			<table cellspacing='0'> 
				<thead>
					<tr>
						<th colspan="3"><%= @team2name.first %></th>
					</tr>
				</thead>
				<tbody>
					<% @team2CurrentStat.each do |t2| %>
						<% if t2[5].nil? %>
						<tr>
							<td><i>Wk <%= t2[1] %></i>:</td>
							<td><b><%= t2[2] %></b></td>
							<td></td>
						</tr>	
						<% else %>
						<tr>
							<td><i>Wk <%= t2[1] %></i>:</td>
							<td><b><%= t2[2] %></b> <%= t2[4] %>-<%= t2[5] %> vs <%= t2[3] %></td>
							<td><%= link_to 'Game Map', home_path(:id => t2[6]) %></td>
						</tr>					
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<br style="clear:both" />
	<div id="column"></div>
	<div id="scatter" style="padding-top: 35px;"></div>
	<p class="newMatch">
		<%= link_to 'Matchup', home_index_path, class: 'a' %>
	</p>
	
<% else %>
	<div id="teamMatchup">
		<h2>
			Match-Ups
		</h2>
		<%= form_tag(home_index_path, :method => "get", id: "search-form", :validate=>true) do %>
			<%= select_tag :firstTeam, options_for_select(@teamNames, params[:firstTeam]), :prompt => 'Select Team 1' %><i> VS </i>
			<%= select_tag :secondTeam, options_for_select(@teamNames, params[:secondTeam]), :prompt => 'Select Team 2' %><br /><br /><br />
			<%= submit_tag "Match-Up", :name => nil %>
		<% end %>
		<p>
			<span class="tips">Tips For Match-Up Charts</span><br/>
			<b>Chart #1</b>: Game-Qs for the 2015 season side-by-side. Click on “team”, “offense” or “defense” to change the comparison. <br />
			<b>Chart #2</b>: Season-Q values for team, offense and defense. Above zero: good.  below zero: bad. <br />
			<b>Chart #3</b>: View these two teams in relation to the other 30 teams. Season-Q values for team, offense and defense revealed the strongest teams in the league. Want a different view? Grab and move for a complete 3D look! Compare the two selected teams by marker size to see who has been hotter of late.
		</p>
	</div>
<% end %>
