<div id="record">
	<div id="recordTable">	
		<table cellspacing='0'> 
			<thead>
				<tr>
					<th colspan="4"><%= @teamNames.join('') %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2011</td>
					<td>2012</td>
					<td>2013</td>
					<td>2014</td>
				</tr>
				<tr>
					<td><%= @win11 %>-<%= @loss11 %></td>
					<td><%= @win12 %>-<%= @loss12 %></td>
					<td><%= @win13 %>-<%= @loss13 %></td>
					<td><%= @win14 %>-<%= @loss14 %></td>
				</tr>	
			</tbody>
		</table>
	</div>
</div>

<%= render partial: 'pointsScript' %>
<%= render partial: 'diffScript' %>
<div id="points" style="width: 47%; float: left;"></div>
<div id="diff" style="width: 47%; float: left;"></div>
<div id="diffDiv">
	<input class="difference" name="newSeries" type="radio" value="a"> 2014</input>
	<input class="difference" name="newSeries" type="radio" value="b"> 2013</input>
	<input class="difference" name="newSeries" type="radio" value="c"> 2012</input>
	<input class="difference" name="newSeries" type="radio" value="d"> 2011</input>
</div>