<title><%= @year %> Rankings | The Q5</title>
<div class="x-container max width">
	<div class="x-landmark-breadcrumbs-wrap">
		<div class="x-landmark">
			<h1 class="h-landmark entry-title">
				<span>Current Q5 Rankings</span><br /><%= link_to '2015', ranking_index_path %> | <%= link_to '2014', ranking_path(:id => @yearArray[3]) %> | <%= link_to '2013', ranking_path(:id => @yearArray[2]) %> | <%= link_to '2012', ranking_path(:id => @yearArray[1]) %> | <%= link_to '2011', ranking_path(:id => @yearArray[0]) %>
			</h1>
			<%= link_to "http://www.theQ5.com/tuitorial" do %><p><i>Want to Learn More About This Tool?</i></p><% end %>
		</div>
		<div class="x-breadcrumbs-wrap">
			<div class="x-breadcrumbs"><a href="http://theq5.com"><span class="home"><i class="x-icon-home" data-x-icon="&#8962;" style="font-size: 18px; color: #333333;"></i></span></a> <span class="delimiter"><i class="x-icon-angle-right" data-x-icon="|"></i></span> <span class="current" style="color: #28323F;">Q5 ZONE</span>
			</div>              
		</div>
	</div>
</div>
<div id="ranking">
	<%= render partial: 'leagueScript' %>
	<div id="leagueScatter" style="padding: 20px 0 40px 0;"></div>
</div>
<table id="example" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			 <th>&#11014; TEAM &#11015;</th>
			 <th>&#11014; Season-Q TEAM &#11015;</th>
			 <th>&#11014; Trend-Q TEAM &#11015;</th>
			 <th>&#11014; Season-Q OFF &#11015;</th>
			 <th>&#11014; Trend-Q OFF &#11015;</th>
			 <th>&#11014; Season-Q DEF &#11015;</th>
			 <th>&#11014; Trend-Q DEF &#11015;</th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			 <th>TEAM</th>
			 <th>Season-Q TEAM</th>
			 <th>Trend-Q TEAM</th>
			 <th>Season-Q OFF</th>
			 <th>Trend-Q OFF</th>
			 <th>Season-Q DEF</th>
			 <th>Trend-Q DEF</th>
		</tr>
	</tfoot>

	<tbody>
		<tr>
		<% @dataValues.each do |val| %>     
			 <td><%= val[0] %></td>
			 <td><%= val[1] %></td>
			 <td><%= val[2] %></td>			 
			 <td><%= val[3] %></td>
			 <td><%= val[4] %></td>
			 <td><%= val[5] %></td>
			 <td><%= val[6] %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function() {
		$('#example').DataTable();
	} );
</script>