<title>Ranking | The Q5</title>
<div class="x-container max width">
	<div class="x-landmark-breadcrumbs-wrap">
		<div class="x-landmark">
			<h1 class="h-landmark entry-title"><span>Current Q5 Rankings</span></h1>
		</div>
		<div class="x-breadcrumbs-wrap">
			<div class="x-breadcrumbs"><a href="http://theqfive.com"><span class="home"><i class="x-icon-home" data-x-icon="&#8962;"></i></span></a> <span class="delimiter"><i class="x-icon-angle-right" data-x-icon=">"></i></span> <span class="current" style="color: #28323F;">RANKINGS</span>
			</div>              
		</div>
	</div>
</div>
<div id="ranking">
	<%= render partial: 'leagueScript' %>
	<div id="leagueScatter" style="padding: 20px 0 30px 0;"></div>
</div>
<table id="example" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			 <th>TEAM</th>
			 <th>Season-Q TEAM</th>
			 <th>Trend-Q TEAM</th>
			 <th>Season-Q OFF</th>
			 <th>Trend-Q OFF</th>
			 <th>Season-Q DEF</th>
			 <th>Trend-Q DEF</th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			 <th>TEAM</th>
			 <th>Season-Q TEAM</th>
			 <th>Trend-Q TEAM</th>
			 <th>Season-Q OFF</th>
			 <th>Trend-Q OFF</th>
			 <th>Season-Q DEF</th>
			 <th>Trend-Q DEF</th>
		</tr>
	</tfoot>

	<tbody>
		<tr>
		<% @dataValues.each do |val| %>     
			 <td><%= val[0] %></td>
			 <td><%= val[1] %></td>
			 <td><%= val[2] %></td>			 
			 <td><%= val[3] %></td>
			 <td><%= val[4] %></td>
			 <td><%= val[5] %></td>
			 <td><%= val[6] %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function() {
		$('#example').DataTable();
	} );
</script>