<title><%= params[:id].to_s %> Rankings | The Q5</title>
<% a = @winArray %>
<% b = @lossArray %>
<div class="x-container max width">
	<div class="x-landmark-breadcrumbs-wrap">
		<div class="x-landmark">
			<h1 class="h-landmark entry-title">
				<span><%= params[:id].to_s  %> Q5 Rankings</span> - <%= link_to '2015', ranking_index_path %> | <%= link_to '2014', ranking_path(:id => @yearDisplay[3]) %> | <%= link_to '2013', ranking_path(:id => @yearDisplay[2]) %> | <%= link_to '2012', ranking_path(:id => @yearDisplay[1]) %> | <%= link_to '2011', ranking_path(:id => @yearDisplay[0]) %>
			</h1>
			<%= link_to root_path do %><p><i>Want to Learn More About This Tool?</i></p><% end %>
		</div>
	</div>
</div>
<div id="ranking">
	<%= render partial: 'leagueHistorical' %>
	<div id="leagueScatter" style="padding: 20px 0 40px 0;"></div>
</div>
<table id="sortTable" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			 <th>&#11014; TEAM</th>
			 <th>&#11014; Win</th>
			 <th>&#11014; Loss</th>
			 <th>&#11014; Season-Q TEAM</th>
			 <th>&#11014; Season Trend-Q TEAM</th>
			 <th>&#11014; Season-Q OFF</th>
			 <th>&#11014; Trend-Q OFF</th>
			 <th>&#11014; Season-Q DEF</th>
			 <th>&#11014; Trend-Q DEF</th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			 <th>TEAM</th>
			 <th>Win</th>
			 <th>Loss</th>
			 <th>Season-Q TEAM</th>
			 <th>Season Trend-Q TEAM</th>
			 <th>Season-Q OFF</th>
			 <th>Trend-Q OFF</th>
			 <th>Season-Q DEF</th>
			 <th>Trend-Q DEF</th>
		</tr>
	</tfoot>

	<tbody>
		<tr>
		<% i = 0 %>
		<% @dataValues.each do |val| %>   
			 <td><%= val[0] %></td>
			 <td><%= a[i] %></td>
			 <td><%= b[i] %></td>
			 <td><%= val[1] %></td>
			 <td><%= val[2] %></td>			 
			 <td><%= val[3] %></td>
			 <td><%= val[4] %></td>
			 <td><%= val[5] %></td>
			 <td><%= val[6] %></td>

			 <% i = i + 1 %>
		</tr>
	<% end %>
	</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function() {
		$('#sortTable').DataTable();
	} );
</script>