<title><%= @teamNames.join('') %> | The Q5</title>
<div class="x-container max width">
	<div class="x-landmark-breadcrumbs-wrap">
		<div class="x-landmark">
			<h1 class="h-landmark entry-title"><span><%= @teamNames.join('') %> | My Team</span></h1>
			<%= link_to root_path do %><p><i>Want to Learn More About This Tool?</i></p><% end %>
		</div>
	</div>
</div>
<div id="teamData">
	<input class="rollup" name="newSeries" type="radio" value="a"> 2015</input>
	<input class="rollup" name="newSeries" type="radio" value="b"> 2014</input>
	<input class="rollup" name="newSeries" type="radio" value="c"> 2013</input>
	<input class="rollup" name="newSeries" type="radio" value="d"> 2012</input>
	<input class="rollup" name="newSeries" type="radio" value="e"> 2011</input>
	<input class="rollup" name="newSeries" type="radio" value="f"> All</input>
</div>
<%= render partial: 'teamScript' %>
<div id="teamChart" style="padding: 0 0 30px 0;"></div>
<%= render partial: 'scheduleTable' %>
<div id="points" style="width: 49%; float: left; padding: 45px 0 40px 0; margin: 0;"></div>
<div id="diff" style="width: 48%; float: left; float: left; padding: 45px 0 40px 0;"></div>
<div id="diffDiv">
	<input class="difference" name="newSeries" type="radio" value="e"> 2015</input>
	<input class="difference" name="newSeries" type="radio" value="a"> 2014</input>
	<input class="difference" name="newSeries" type="radio" value="b"> 2013</input>
	<input class="difference" name="newSeries" type="radio" value="c"> 2012</input>
	<input class="difference" name="newSeries" type="radio" value="d"> 2011</input>
</div>
<%= render partial: 'pointsScript' %>
<%= render partial: 'diffScript' %>