<h1>Upload Stats</h1>
<%= form_tag import_stats_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Upload" %>
<% end %>
 <p class="notice"><%= notice %></p>
 <p>Currently <b><%= @stats %></b> Records in the DB</p>
<br />
<%= link_to 'Reset All', kill_stats_url, :method => :delete %>
<br />