<!DOCTYPE html>
<html>
<head>
  <title>TeamMatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'highcharts-3d' %>
  <%= javascript_include_tag 'highcharts' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
