<!DOCTYPE html>
<html>
<head>
  <title>Team Matchup Tool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'highcharts' %>
  <%= javascript_include_tag 'highcharts-3d' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Matchup', root_path %> | <%= link_to 'Portfolio', portfolio_index_path %> | <%= link_to 'Rankings', ranking_index_path %>
<%= yield %>

</body>
</html>
